pkgbase = realvnc-vnc-server
	pkgdesc = VNC remote desktop server software by RealVNC
	pkgver = 6.9.9
	pkgrel = 1
	url = https://www.realvnc.com/
	install = realvnc-vnc-server.install
	arch = aarch64
	license = custom
	depends = libsm
	depends = libxtst
	depends = xorg-xauth
	depends = libxcrypt-compat
	optdepends = cups: Printer support
	conflicts = tightvnc
	conflicts = tigervnc
	conflicts = turbovnc
	source_aarch64 = https://downloads.realvnc.com/download/file/vnc.files/VNC-Server-6.9.0-Linux-ARM64.deb
	md5sums_aarch64 = 97635c93c56fa1ec550095162abc5648

pkgname = realvnc-vnc-server
